/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F4F5FC;
}

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* all similar content styling codes */
.max-width{
    max-width: 1300px;
    width: auto;
    margin: auto;
}

footer{
    background: #555454;
    padding: 15px 23px;
    color: #000000;
    text-align: center;
}
footer span a{
    color: rgb(7, 93, 143);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.banner .logo, .info{
    margin-top: 10px;
    margin-left: 45%;
}
.logo{
    padding-top: 30px;
    padding-left: 23px;
    width: 80px;
    cursor: pointer;
    flex-basis: 5%;
    float: top;
}
.info{
    margin-left: 0%;
    flex: auto;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #111;
    float: bottom;
    text-align: center;
}

/* Home Section Styling */
.home {
    width: 100%;
    background-image: url(src/img/background.jpg);
    
}

.about .home-content{
    text-align: center;
}
.about .home-content h1{
    color: #111;
    font-size: 70px;
    margin-top: 80px;
    padding-bottom: 75;
}
.about .home-content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    padding-top: 25;
}

/* About Section Styling */
.about {
    width: 100%;
    background-image: url(src/img/background.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}

.about iframe{
    padding-left: 0%;
}

.about .about-content{
    margin: auto;
    width: 80%;
    
    text-align: center;
    color: #111;
}
.about .about-content h1{
    font-size: 70px;
}
.about .about-content p{
    margin: auto;
    font-weight: 100;
    line-height: 25px;
}



/* For mobile phones: */
[class = "banner"] {
    width: 100%;
  }
  /* For mobile phones: */
[class = "content"] {
    width: 100%;
  }
  

  @media only screen and (max-width: 600px) {
    /* For tablets: */
    .banner {width: 100%;}
  }
  @media only screen and (max-width: 600px) {
    /* For tablets: */
    .content {width: 100%;}
  }

  @media only screen and (max-width: 768px) {

    .banner {width: 100%;}
  }

  @media only screen and (max-width: 768px) {
    /* For desktop: */
    .content {width: 100%;}
  }