/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.events .events-content,
.about .about-content,
.resume .resume-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(whitebackground.jpeg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    cursor: pointer;
    flex-basis: 5%

}
.info{
    flex: auto;
    padding-left: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #787070;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #787070;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    /*background: #329dee;*/
    background: #787070;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    flex-basis: 30%;
    
    top: 50%;
    transform: transplateX(-50%) translateY(-50%);
    text-align: center;
    color: #787070;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #787070;
    background: transparent;
    color: #787070;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    /*background: #329dee;*/
    background: #787070;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
    color: #f5f1f1;
    background-color: 787070;
}

/* For mobile phones: */
[class = "banner"] {
    width: 100%;
  }
  /* For mobile phones: */
[class = "content"] {
    width: 100%;
  }
  

  @media only screen and (max-width: 600px) {
    /* For tablets: */
    .banner {width: 100%;}
  }
  @media only screen and (max-width: 600px) {
    /* For tablets: */
    .content {width: 100%;}
  }

  @media only screen and (max-width: 768px) {

    .banner {width: 100%;}
  }

  @media only screen and (max-width: 768px) {
    /* For desktop: */
    .content {width: 100%;}
  }