/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Hepta Slab', serif;
    background-color: #F4F5FC;
}

html {
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* loader for the website */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}


/* all similar content styling codes */
.max-width {
    max-width: 1300px;
    width: auto;
    margin: auto;
}

footer {
    margin-bottom: 10px;
    margin-top: 200px;
}

footer span a {
    color: rgb(7, 93, 143);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.banner .navbar .logo {
    margin-top: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    cursor: pointer;
    float: middle;
}

.banner .navbar .info,
.logo {
    margin: auto;
    align-items: center;
    flex: auto;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #111;
    float: middle;
    text-align: center;
}

.banner .navbar .links-left {
    margin-left: 10%;
    float: left;
    align-items: start;
    display: inline;
}

.banner .navbar .links-right {
    margin-right: 10%;
    float: right;
    align-items: end;
    display: inline;
}

.banner .navbar a {
    display: inline-block;
    background: #3768b7;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 10px;
    border: 2px solid #3768b7;
    transition: all 0.3s ease;

}

.banner .navbar a:hover {
    color: #3768b7;
    background: none;
}

/* Home Section Styling */
.home {
    width: 100%;
    background-image: url(src/img/background.jpg);

}

.about .home-content {
    text-align: center;
}

.about .home-content h1 {
    color: #111;
    font-size: 70px;
    margin-top: 80px;
    padding-bottom: 75;
}

.about .home-content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}

/* About Section Styling */
.about {
    width: 100%;
    background-image: url(src/img/background.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}

.about iframe {
    padding-left: 0%;
}

.about .about-content {
    margin: auto;
    width: 80%;

    text-align: center;
    color: #111;
}

.about .about-content h1,
h2 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 70px;
}

h1 {
    font-size: 70px;
}

.about .about-content p {
    margin: auto;
    font-weight: 100;
    line-height: 25px;
    text-align: left;
}

.about .about-content #infopic {
    width: 300px;
    height: 350px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.about .about-content #schoolpic {
    width: 340px;
    height: 275px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

.about .about-content #bikepic {
    width: 300px;
    height: 210px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.about .about-content #ironmanpic {
    width: 250;
    height: 350px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

.about .about-content span,
a {
    align-items: center;
    text-align: center;
    margin: auto;
}


@media only screen and (max-width: 320px) {

    /* For tablets: */
    .banner {
        width: 100%;
    }

    .banner .logo {
        margin-left: 42%;
    }

    .home-content iframe {
        width: 70%;
        height: 30%;
    }

    .banner .navbar a {
        float: middle;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        font-size: 8px;
    }

    .banner .navbar .links-left,
    .links-right {
        float: middle;
        align-items: center;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media only screen and (max-width: 400px) {

    /* For tablets: */
    .banner {
        width: 100%;
    }

    .banner .logo {
        margin-left: 42%;
    }

    .home-content iframe {
        width: 70%;
        height: 30%;
    }

    .banner .navbar a {
        float: middle;
        align-items: center;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
        font-size: 10px;
    }

    .banner .navbar .links-left,
    .links-right {
        float: middle;
        align-items: center;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    .banner .navbar .logo {
        text-align: center;
        align-items: center;
        float: middle;
        margin: auto;
    }
}

@media only screen and (max-width: 414px) {

    /* For tablets: */
    .banner {
        width: 100%;
    }

    .home-content iframe {
        width: 70%;
        height: 30%;
    }

    .banner .navbar a {
        float: middle;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .banner .navbar .links-left {
        margin-left: 30px;
        align-items: center;
        text-align: center;
        float: middle;
    }
}

@media only screen and (max-width: 600px) {

    /* For tablets: */
    .banner {
        width: 100%;
    }

    .home-content iframe {
        width: 70%;
        height: 30%;
    }

}

@media only screen and (max-width: 600px) {

    /* For tablets: */
    .content {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .banner {
        width: 100%;
    }

    .home-content iframe {
        width: 90%;
        height: 35%;
    }
}

@media only screen and (max-width: 768px) {

    /* For desktop: */
    .content {
        width: 100%;
    }

    .banner .navbar a {

        font-size: 10px;
    }
}

.horizontal-line {
    width: 85%;
    height: 3px;
    background-color: #3768b7;
    border-radius: 10px;
    margin: 10px auto;
}

#center{
    text-align: center;
}